<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="">
    <label for="start_station">
      <input type="text" id="start_station" name="start_station" placeholder="出発">
    </label>
    <label for="end_station">
      <input type="text" id="end_station" name="end_station" placeholder="到着">
    </label>
    <input type="submit" value="送信">
  </form>
</body>
</html>
