<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>駅情報</title>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js" charset="utf-8"></script>
  <link rel="icon" href="{{ url_for('static', filename='train.png')}}">
</head>
<body>
  <!-- <script>
  </script> -->

  <form action="">
    <label for="station_name">駅名</label>
      <input type="text" id="start_name" name="start_name" placeholder="駅名を入力をして下さい">
    <input type="submit" value="送信">
  </form>
</body>
</html>
